.dashboard-main {
  padding: 10px;
}

.top-section {
  display: flex;
  gap: 16px;
}

.timeline-container {
  width: 65%;
}

.right-panel {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sequence-section {
  margin-top: 20px;
}
