.timeline-view {
  width: 90%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.timeline-chart-container {
  background: #fff;
  border-radius: 30px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  width:90%;
}

.timeline-selection-rect {
  position: absolute;
  background: rgba(255, 193, 7, 0.3);
  border: 2px solid #ff9800;
  pointer-events: none;
  z-index: 50;
  width:90%;
}
