.timeline-view {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0px;
}

.timeline-chart-container {
  height: 22%;   /* ≈ 4 charts visible */
  min-height: 180px;  /* enough for title + plot */
  padding-bottom: 8px;
  
}

.timeline-selection-rect {
  position: absolute;
  background: rgba(255, 193, 7, 0.3);
  border: 2px solid #ff9800;
  pointer-events: none;
  z-index: 50;
  width:90%;
}